VERSION=1.0.0-beta

# Google Cloud Project
GOOGLE_CLOUD_PROJECT=tide-staging
GOOGLE_CLOUD_PROJECT_NUMBER=

# Cloud Run Endpoints
GOOGLE_CLOUD_RUN_LIGHTHOUSE=
GOOGLE_CLOUD_RUN_LIGHTHOUSE_MEMORY=
GOOGLE_CLOUD_RUN_PHPCS=
GOOGLE_CLOUD_RUN_PHPCS_MEMORY=
GOOGLE_CLOUD_RUN_SYNC=
GOOGLE_CLOUD_RUN_SYNC_MEMORY=

# Emulators
FIRESTORE_EMULATOR_HOST=localhost:5001
PUBSUB_EMULATOR_HOST=localhost:5003

# Sync Server
SYNC_SERVER_MAX_QUEUE_SIZE_FOR_DELTA=100
SYNC_SERVER_MAX_SIMULTANEOUS_REQUESTS=5
SYNC_SERVER_MILLISECONDS_BETWEEN_REQUESTS=500
SYNC_SERVER_SECONDS_TO_RECHECK=30
SYNC_SERVER_SECONDS_TO_FAIL=1000
