# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# macOS attributes file
.DS_Store

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# IDE
.idea

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.server

# vuepress build output
web/.vuepress/dist

# Firebase
.firebaserc
.firebase

# Composer
vendor

# Husky
.husky/

# Cloud service account
service-account.json

# Local data storage
app/data/*
!app/data/.gitkeep
!app/data/lighthouse
app/data/lighthouse/*
!app/data/lighthouse/.gitkeep
!app/data/phpcs_phpcompatibilitywp
app/data/phpcs_phpcompatibilitywp/*
!app/data/phpcs_phpcompatibilitywp/.gitkeep
